{%  extends "BookingBundle::layout.html.twig" %}

{%  block title %}
{%  endblock %}

{%  block body %}
    <h3>Commande de billets</h3>
    <div class="ticketing">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.visitingDay) }}
        {{ form_row(form.kindOfTicket) }}
        {{ form_row(form.emailVisitor) }}
        {{ form_row(form.nbTicket) }}
        {{ form_row(form.ordering) }}

    </div>

    {# Script jQuery #}
{%  endblock %}

{%  javascripts  %}
    <script>
        $(function() {
            $(".js_datepicker").datepicker({
                dateFormat: 'yyyy-mm-dd';
                beforeShowDay: function (d) {
                    
                }
            });
        });
    </script>
{% endjavascript %}


